profiles {
    dclasso {
        executor {
            queueSize = 500
            submitRateLimit = '10 sec'
        }
        process.conda = { task.attempt <= 1 ? "$PWD/env/" : "$PWD/env_GPU/" }
        process.clusterOptions = { task.attempt <= 1 ? '-jc pcc-normal -v PATH=/usr/bin:/home/pnaylor/miniconda3/bin:$PATH,PYTHONPATH=/data/ghighdim/pnaylor/project/dclasso/:/data/ghighdim/pnaylor/project/dclasso/src/templates:$PYTHONPATH' : '-jc gs-container_g1 -ac d=nvcr-cuda-11.1-cudnn8.0 -v PATH=/usr/bin:/home/pnaylor/miniconda3/bin:$PATH,PYTHONPATH=/data/ghighdim/pnaylor/project/dclasso/:/data/ghighdim/pnaylor/project/dclasso/src/templates:$PYTHONPATH,XLA_PYTHON_CLIENT_PREALLOCATE=false' }
    }
    kuma {
        executor {
            queueSize = 60
            submitRateLimit = '10 sec'
        }

    }
}
env {
    PYTHONPATH = "$PWD:$baseDir/templates:\$PYTHONPATH"
}
