profiles {
    local {
        queueSize = 1
    }
    smrmr {
        executor {
            queueSize = 500
            submitRateLimit = '10 sec'
        }
        process.conda = "$PWD/env/"
    }
    kuma {
        executor {
            queueSize = 60
            submitRateLimit = '10 sec'
        }

    }
}
env {
    PYTHONPATH = "$PWD:$baseDir/templates:\$PYTHONPATH"
}
